<div class="span10">
  <div class="row-fluid">
    <div class="span12">
      <div class="subnav subnav-fluid">
        <ul class="nav nav-pills">
          <li>
            <a href="/foros/{{foro.id}}"><i class="icon-flag"></i> {{foro.nombre}}</a>
          </li>
          <li class="active">
            <a href="/foros/{{foro.id}}/preguntas"><i class="icon-question-sign"></i> Preguntas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span8">
          <div class="well">
            <h1>Preguntas más votadas</h1>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Pregunta</th>
                  <th>Favoritos</th>
                  <th>Votos</th>
                  <th>Localidad</th>
                </tr>
              </thead>
              <tbody>
                {{#foro.preguntas}}
                <tr>
                  <td><a href="/foros/{{foro.id}}/preguntas/{{_id}}">{{titulo}}</a></td>
                  <td>{{favs}}</td>
                  <td>{{votos}}</td>
                  <td><span class="label">{{localidad}}</span></td>
                </tr>
                {{/foro.preguntas}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>¿Qué se está comentando?</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h2>Últimas preguntas</h2>
    </div>
  </div>
</div>
