<div class="span9">
  <div class="row-fluid">
    <div class="span8">
      <form class="form-horizontal" action="/foro/{{foroId}}/pregunta" method="POST">
        <fieldset>
          <legend>Creación de nueva pregunta</legend>
          <div class="control-group">
            <label class="control-label" for="pregunta[titulo]">Titulo</label>
            <div class="controls">
              <input class="input-xlarge" id="preguntaTitulo" name="pregunta[titulo]" size="30" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pregunta[contenido]">¿Cual es su pregunta?</label>
            <div class="controls">
              <textarea class="input-xlarge" id="preguntaContenido" name="pregunta[contenido]" rows="5"></textarea>
              <p class="help-block">
                Sea claro en la formulación de su pregunta.
              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pregunta[localidad]">Seleccione la localidad</label>
            <div class="controls">
              <select class="input-xlarge" name="pregunta[localidad]" id="preguntaLocalidad">
                <option>Antonio Nariño</option>
                <option>Barrios Unidos</option>
                <option>Bosa</option>
                <option>Chapinero</option>
                <option>Ciudad Bolívar</option>
                <option>Engativá</option>
                <option>Fontibón</option>
                <option>Kennedy</option>
                <option>La Candelaria</option>
                <option>Los Mártires</option>
                <option>Puente Aranda</option>
                <option>Rafael Uribe Uribe</option>
                <option>San Cristóbal</option>
                <option>Santa Fe</option>
                <option>Suba</option>
                <option>Sumapaz</option>
                <option>Teusaquillo</option>
                <option>Tunjuelito</option>
                <option>Usaquén</option>
                <option>Usme</option>
              </select>
              <span class="help-block">
              </span>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn">Cancelar</button>
          </div>
        </fieldset>
      </form>
    </div>
  
    <div class="span4">
      <h1>Ayuda</h1>
      <p>Test</p>
    </div>

  </div>
</div>
