<div class="span9">
<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="/foro/{{foro.id}}">{{foro.nombre}}</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a href="/foro/{{foro.id}}/preguntas">Preguntas</a>
        <span class="divider">/</span>
      </li>
      <li class="active">
        <a href="/foro/{{foro.id}}/pregunta/{{pregunta._id}}">{{pregunta.titulo}}</a>
      <li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="row">

      <div class="span7">
        <div class="well">
          <h1>{{pregunta.titulo}}</h1>
          <blockquote><p>{{pregunta.contenido}}</p><small>{{pregunta.autor}}</small></blockquote>
        </div>
      </div>

      <div class="span4">
        <div class="well">
          <h2>Estadisticas</h2>
          <p>Favs: {{pregunta.favs}}</p>
          <p>Votos: {{pregunta.votos}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
