<div class="span10">
  <div class="row-fluid">
    <div class="span12">
      <div class="subnav subnav-fluid">
        <ul class="nav nav-pills">
          <li>
            <a href="/foros/{{foro.id}}"><i class="icon-flag"></i> {{foro.nombre}}</a>
          </li>
          <li>
            <a href="/foros/{{foro.id}}/preguntas"><i class="icon-question-sign"></i> Preguntas</a>
          </li>
          <li class="active">
            <a href="/foros/{{foro.id}}/preguntas/{{pregunta._id}}"><i class="icon-comment"></i> {{pregunta.titulo}}</a>
          <li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <div class="row-fluid">
    <div class="span12">
      <div class="row">

        <div class="span7">
          <div class="well">
            <h1>{{pregunta.titulo}}</h1>
            <blockquote><p>{{pregunta.contenido}}</p><small>{{pregunta.autor}}</small></blockquote>
            {{#botones}}
            <a id="votarUp" class="btn btn-success" href="#" data-loading-text="Votando...">
              <i class="icon-upload icon-white"></i>
              Votar a favor
            </a>
            <a id="votarDown" class="btn btn-danger" href="#" data-loading-text="Votando...">
              <i class="icon-download icon-white"></i>
              Votar en contra
            </a>
            {{/botones}}

            {{#esFavorito}}
            <a id="favorito" class="btn btn-primary" href="#" data-toggle="button">
              <i class="icon-star icon-white"></i>
              Quitar de Favoritos
            </a>
            {{/esFavorito}}

            {{^esFavorito}}
            <a id="favorito" class="btn btn-primary" href="#" data-toggle="button">
              <i class="icon-star-empty icon-white"></i>
              Agregar a Favoritos
            </a>
            {{/esFavorito}}
          </div>
        </div>

        <div class="span4">
          <div class="well">
            <h2>Estadisticas</h2>
            <p>Favs: {{pregunta.favs}}</p>
            <p>Votacion: {{pregunta.votos}} / Numero de Votantes: {{pregunta.votantes}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{#botones}}
<script type="text/javascript">
window.onload = function (){
  function votar (v) {
    var voto = ( v ? 'favor' : 'contra');
    $.post(location.pathname + '/votar', {
      voto: voto
    }, function (data, status) {
      $('#votarUp, #votarDown').fadeOut(500, function () {
        $(this).remove();
      });
    }).error(function (xhr) {
      alert(xhr.status + ' ' + xhr.responseText);
    });
  }

  var btnUp = $('#votarUp'),
      btnDown = $('#votarDown');

  btnUp.click(function () {
    btnUp.button('loading');
    votar(true);
  });

  btnDown.click(function () {
    btnDown.button('loading');
    votar(false);
  });
}
</script>
{{/botones}}
<script type="text/javascript">
window.onload = function () {
  var favorito = $('#favorito');

  favorito.click(function () {
    favoritear(favorito);
  });

  function esFav (btn) {
    return btn.find('i').hasClass('icon-star');
  }

  function favoritear (b) {
    var fav = esFav(b);
    $.post(location.pathname + '/favorito', {
      favorito: !fav
    }, function (data, status) {
      b.button('toggle');
      if (fav) {
        b.find('i').removeClass('icon-star');
        b.find('i').addClass('icon-star-empty');
      } else {
        b.find('i').removeClass('icon-star-empty');
        b.find('i').addClass('icon-star');
      }
    }, function (xhr) {
      alert(xhr.status + ' ' + xhr.responseText);
    });
  };
}
</script>
