<div class="span10">
  <div class="row-fluid">
    <div class="span9">
      <h1>Listado de foros</h1>
      <p>Actualmente tenemos <strong>{{total_foros}}</strong> foro(s) abierto(s) y <strong>{{total_seguimientos}}</strong> seguimiento(s):</p>
      {{{seguimientos}}}
    </div>
    <div class="span3">
      <div class="well">
        <a class="btn btn-primary btn-large" href="/foros/nuevo"><i class="icon-flag icon-white"></i> Crear nuevo foro</a>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Categoría</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Preguntas</th>
          </tr>
        </thead>
        <tbody>
          {{#foros}}
          <tr>
            <td><span class="label">{{categoria}}</span></td>
            <td><a href="/foros/{{id}}">{{nombre}}</a></td>
            <td>{{descripcion}}</td>
            <td>{{preguntas.length}}</td>
          </tr>
          {{/foros}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="pagination">
        <ul>
          <li class="prev disabled"><a href="#">&larr; Anterior</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="next"><a href="#">Siguiente &rarr;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
