<div class="span10">
  <div class="row-fluid">

    <div class="span9">
      <div class="row-fluid">
        <div class="span12 box">
          <h2><span>Último foro</span></h2>
          <div class="box-inner">
            <div class="span7">
              <h3>Nombre del foro</h3>
              <span>2012-12-12</span>
              <br />
              <h3>Categoría</h3>
              <span>Tecnología y deuda pública</span>
              <h3>Relatoría</h3>
              <p>Lorem ipsum dolor sit amet status tales <a href="#">Conocer más</a></p>
              <a class="btn-custom btn-large" href="#">Ingresar al foro</a>
            </div>
            <div class="span5">
                <a href="#" class="thumbnail"><img src="http://placehold.it/360x268" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 box">
          <h2><span>Foros anteriores</span></h2>
          <div class="box-inner">
            {{#foros}}
            <div class="span4">
              <a class="thumbnail" href="/foros/{{id}}"><img src="http://placehold.it/260x180" alt=""></a>
              <h5 style="margin-bottom: 10px">{{nombre}} <small>{{fecha}}</small></h5>
              <span class="label">{{categoria}}</span>
              <p>{{descripcion}}</p>
              <p style="text-align:right"><a class="btn-custom" href="/foros/{{id}}">Entrar</a></p>
            </div>
            {{/foros}}
          </div>
        </div>
      </div>
    </div>
    
    <div class="span3 box">
      <h2><span>Participe</span></h2>
      <div class="box-inner">
        <p>Actualmente tenemos un total de <strong>{{total_foros}}</strong> foro(s) abierto(s):</p>
          {{{seguimientos}}}
        {{#usuario}}
          <a class="btn-custom btn-large" href="/foros/nuevo"><i class="icon-flag icon-white"></i> Crear nuevo foro</a>
        {{/usuario}}
      </div>
    </div>

  </div>
</div>
