<div class="span9">
  <div class="row-fluid">
    <div class="span8">
      <form class="form-horizontal" action="/foros" method="POST">
        <fieldset>
          <legend>Creación de nuevo foro</legend>
            <div class="control-group">
              <label class="control-label" for="foro[nombre]">Nombre</label>
              <div class="controls">
                <input class="input-xlarge" id="foroNombre" name="foro[nombre]" size="30" type="text">
                <p class="help-block">
                  <strong>Nota:</strong> El nombre del foro debe ser descriptivo y no debe ser ofensivo. Asegurate de leer nuestros <a href="/tos">términos de servicio</a>.
                </p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for=foro[descripcion]">Descripción</label>
              <div class="controls">
                <textarea class="input-xlarge" id="foroDescripcion" name="foro[descripcion]" rows="3"></textarea>
                <p class="help-block">
                  Una descripcion acertada del foro ayudará a aumentar la participación de la gente.
                </p>
              </div>
            </div>
            <div class="control-group">
              <label for="foro[imagen]">Imágen del foro</label>
              <div class="controls">
                <input class="input-file" id="foroImagen" name="foro[imagen]" type="file">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="foro[categoria]">Categoría</label>
              <div class="controls">
                <select class="input-xlarge" name="foro[categoria]" id="foroCategoria">
                  <option>Tecnología y deuda pública</option>
                  <option>Tecnología e investigación social</option>
                  <option>Tecnología y productividad</option>
                  <option>Tecnología y educación</option>
                  <option>Tecnología y fomento</option>
                  <option>Tecnología y gobierno</option>
                  <option>Tecnología y cultura</option>
                  <option>Tecnología e igualdad</option>
                  <option>Tecnología y derechos</option>
                  <option>Tecnología y pirateria</option>
                  <option>General</option>
                </select>
              </div>
            </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn">Cancelar</button>
          </div>
        </fieldset>
      </form>
    </div>
  
    <div class="span4">
      <h1>Ayuda</h1>
      <p>Test</p>
    </div>
  </div>
</div>
