<div class="row">
  <div class="span16">
    <ul class="breadcrumb">
      <li class="active">
        <a href="/foro/{{foro.id}}">{{foro.nombre}}</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a href="/foro/{{foro.id}}/preguntas">Preguntas</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span10">
    <h1>Foro {{foro.nombre}} <small>{{foro.id}}</small></h1>
  </div>

  <div class="span6">
    <div class="well">
        <div class="span6">
          <h2>Descripción</h2>
          <p>{{foro.descripcion}}</p>
          <ul class="media-grid">
            <li><a href="#"><img class="thumbnail" src="http://placehold.it/90x90" alt=""></a></li>
          </ul>
          <a class="btn primary large" href="/foro/{{foro.id}}/preguntas/new">Formular nueva pregunta</a>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span16">
    <table class="bordered-table zebra-striped">
      <thead>
        <tr>
          <td>Pregunta</td>
          <td>Fecha</td>
          <td>Favoritos</td>
          <td>Votos</td>
          <td>Localidad</td>
        </tr>
      </thead>
      <tbody>
        {{#foro.preguntas}}
        <tr>
          <td><a href="/foro/{{foro.id}}/pregunta/{{_id}}">{{titulo}}</a></td>
          <td>{{fecha}}</td>
          <td>{{favs}}</td>
          <td>{{votos}}</td>
          <td><span class="label">{{localidad}}</span></td>
        </tr>
        {{/foro.preguntas}}
      </tbody>
    </table>
  </div>
</div>
