<div class="span10">
  <div class="row-fluid">
    <div class="span8 box">
      <h2><span>Crear cuenta nueva</span></h2>
      <div class="box-inner">
      <form class="form-horizontal" action="/usuarios" method="POST">
        <fieldset>
        <legend>Datos de usuario</legend>
          <div class="control-group">
            <label class="control-label" for="usuario[nombre]">Nombre(*)</label>
            <div class="controls">
              <input class="input-xlarge" id="usuarioNombre" name="usuario[nombre]" size="30" type="text">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[clave]">Contraseña(*)</label>
            <div class="controls">
              <input class="input-xlarge" id="usuarioClave" name="usuario[clave]" size="30" type="password">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[edad]">Edad</label>
            <div class="controls">
              <input class="span1" id="usuarioEdad" name="usuario[edad]" size="30" type="text">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[apellido]">Apellido(*)</label>
            <div class="controls">
              <input class="input-xlarge" id="usuarioApellido" name="usuario[apellido]" size="30" type="text">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[educacion]">Educación</label>
            <div class="controls">
              <select id="usuarioEducacion" class="input-xlarge">
                  <option>Primaria</option>
                  <option>Secundaria</option>
                  <option>Universidad</option>
              </select>
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[correo]">Correo(*)</label>
            <div class="controls">
              <input class="input-xlarge" id="usuarioCorreo" name="usuario[correo]" size="30" type="email">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[url]">URL</label>
            <div class="controls">
              <input class="input-xlarge" id="usuarioUrl" name="usuario[url]" size="30" type="text">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[twitter]">Twitter</label>
            <div class="controls">
              <input class="input-xlarge" id="usuarioTwitter" name="usuario[twitter]" size="30" type="text">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[avatar]">Avatar</label>
            <div class="controls">
              <input class="input-file" id="usuarioAvatar" name="usuario[avatar]" size="30" type="file">
              <p class="help-block">

              </p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="usuario[localidad]">Localidad</label>
            <div class="controls">
              <select class="input-xlarge" name="usuario[localidad]" id="usuarioLocalidad">
                <option>Antonio Nariño</option>
                <option>Barrios Unidos</option>
                <option>Bosa</option>
                <option>Chapinero</option>
                <option>Ciudad Bolívar</option>
                <option>Engativá</option>
                <option>Fontibón</option>
                <option>Kennedy</option>
                <option>La Candelaria</option>
                <option>Los Mártires</option>
                <option>Puente Aranda</option>
                <option>Rafael Uribe Uribe</option>
                <option>San Cristóbal</option>
                <option>Santa Fe</option>
                <option>Suba</option>
                <option>Sumapaz</option>
                <option>Teusaquillo</option>
                <option>Tunjuelito</option>
                <option>Usaquén</option>
                <option>Usme</option>
              </select>
              <span class="help-block">
              </span>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Crear</button>
            <button type="reset" class="btn"><i class="icon-remove"></i> Cancelar</button>
          </div>
        </fieldset>
      </form>
      </div>
    </div>
    <div class="span4 box">
        <h2><span>Ayuda</span></h2>
      <div class="box-inner">
          <p> Esta es la ayuda para la creación de usuario</p> 
      </div>
    </div>
  </div>
</diV>
