body {
  padding-top: 100px;
  background-color: #b0d766;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0d766), to(#e4f3f9));
  background-image: -webkit-linear-gradient(top, #b0d7e6, #e4f3f9);
  background-image: -moz-linear-gradient(top, #b0d7e6, #e4f3f9);
  background-image: -ms-linear-gradient(top, #b0d7e6, #e4f3f9);
  background-image: -o-linear-gradient(top, #b0d7e6, #e4f3f9);
  background-image: linear-gradient(to bottom, #b0d7e6, #e4f3f9);

}

/* Override a los elementos small de bootstrap */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 0.7em;
}

.nav-list > li > a {
  padding: 3px;
}

/* fin de ovverride */

.sidebar-nav {
  padding: 9px 0;
}

.navbar {
  margin: 0;
}

.navbar-fixed-top {
  position: absolute;
  padding: 0;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top {
  text-decoration: none;
}

.navbar-inner {
  background: none;
  box-shadow: none;
}

.navbar-inner .container{
  margin: 0;
  width: 100%;
}

.logo {
  float: left;
  margin: 5px 52px 0 0;
}

.nav-collapse {
  margin: 0 30px;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background: none;
}

.navbar .nav > li > a {
  padding: 20px 10px 21px;
  text-shadow: none;
}

.navbar-search {
  margin-top: 15px;
}

.navbar-search .search-query {
  border: none;
  background: #f5f5f5;
  border-radius: 5px;
  color: #555555;
}

.navbar-search .search-query:hover {
  color: #555555;
}

/* Bootstrap Override */
.btn-custom {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  vertical-align: middle;
  border: none;

  background-color: #3a87ad;
  color: #fff;
  text-shadow: none;

  font-weight: 100;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .75);
  -moz-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .75);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, .75);

  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;

  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.btn-custom:hover {
  text-decoration: none;
  color: #fff;
  background-color: #307191;
}

/* Clase que interviene en el scroll */
.menu-fixed {
  position: fixed;
  background-color: #f5f5f5;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.navbar .menu-fixed .active > a,
.navbar .menu-fixed .active > a:hover {
  color: #333333;
}

.navbar .menu-fixed .nav > li > a:hover {
  color: #333333;
}



/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1030;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

/* Estilo custom para .sidebar */
.sidebar-custom {
 background-color: #f5f5f5;
}

.sidebar-custom h3 {
  text-align: center;
  background-color: #61acd6;
  float: left;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  padding: 5px 0;
  width: 100%;
}

.sidebar-custom h3 > a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar-inner {
  background-color: #ecf5f8;
  border: 1px solid #c6e0e7;
  margin: 43px 5px 5px;
  padding: 5px;
}

/* Estilo para carousel de imagenes de foros */
.img-right {
  float: right;
}

.carousel {
  float: right;
  width: 400px;
}

/* Estilo para .box */
.box {
  background-color: #f5f5f5;
  margin-bottom: 30px;
}
.box-inner {
  float:left;
  padding: 15px;
}

.box-inner .center {
  text-align: center;
}

.box-inner > ul.center {
  list-style: none;
  margin: 0;
}

.box-inner > ul.center > li {
  margin-bottom: 20px;
}

.box h2 {
  background-color: #a5ad2b;
  float: left;
  color: #ffffff;
  font-size: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  padding: 2px 0;
  width:100%;
}

.box h2 > span {
  padding: 0 20px;
}

/* Estilos para thumbnails de la lista de foros anteriores */

.text {
  margin-top: 10px;
}
.crop-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

/* Estilos custom para breadcrumb */
.breadcrumbs {
  margin-bottom: 15px;
}

/* Estilos para .footer */
.footer {
  clear: both;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
}
