<div class="span9">
  <div class="row-fluid">
    <div class="span8">
      <form action="/foros/{{foroId}}/seguimientos/{{seguimientoId}}/preguntas" method="POST">
        <fieldset>
          <legend>Creación de nueva pregunta</legend>
          <div class="control-group">
            <label class="control-label" for=""></label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Preguntar</button>
            <button type="reset" class="btn">Cancelar</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="span4">
      <h2>Ayuda</h2>
    </div>
  </div>
</div>
