<div class="span10">
  <div class="row-fluid">
    <div class="span12">
      <div class="subnav subnav-fluid">
        <ul class="nav nav-pills">
          <li>
            <a href="/foros"><i class="icon-home"></i> Foros</a>
          </li>
          <li>
            <a href="/foros/{{foro.id}}"><i class="icon-flag"></i> {{foro.nombre}}</a>
          </li>
          <li class="active">
            <a href="/foros/{{foro.id}}/seguimientos"><i class="icon-eye-open"></i> Seguimientos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">
        <div class="span12 box">
          <h2><span>Relatoría</span></h2>
          <div class="box-inner">
            <h3>{{foro.nombre}}</h3>
            <p>Resumen del evento</p>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12 box">
            <h2><span>Video</span></h2>
            <div class="box-inner">
              Content
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12 box">
            <h2><span>Mapas</span></h2>
            <div class="box-inner">
              Content
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="span5">
      <div class="row-fluid">
        <div class="span12 box">
          <h2><span>Actividad reciente</span></h2>
          <ul id="actividad-reciente" class="nav nav-tabs">
            <li class="active"><a href="#actividad" data-toggle="tab"><i class="icon-asterisk"></i> Actividad</a></li>
            <li><a href="#grupos" data-toggle="tab"><i class="icon-eye-open"></i> Grupos de seguimiento</a></li>
            <li><a href="#buscar" data-toggle="tab"><i class="icon-search"></i> Buscar</a></li>
          </ul>
          <div class="box-inner no-float">
            <div class="tab-content">
              <div class="tab-pane active" id="actividad">
                <ul>
                  <li>
                  lol
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="grupos">
                <ul>
                {{#seguimientos}}
                  <li><p><em><a href="/foros/{{foro}}/seguimientos/{{id}}">{{titulo}}</a></em> <span class="label">{{localidad}}</span> <i class="icon-tag"></i></p></li>
              {{/seguimientos}}
              </div>
              <div class="tab-pane" id="buscar">
                <form class="form-search">
                  <input type="text" class="input search-query">
                  <button type="submit" class="btn">Buscar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {{#usuario}}
        <div class="row-fluid">
          <div class="span12 box">
            <h2><span>Participa</span></h2>
            <div class="box-inner center">
              <a class="btn btn-primary btn-large" data-toggle="modal" data-target="#crearGrupo" href="#crearGrupo"><i class="icon-pencil icon-white"></i> Crear nuevo grupo</a>
            </div>
          </div>
        </div>

        <div id="crearGrupo" class="modal hide fade">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Creación de grupo de seguimiento</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="/foros/{{foro.id}}/seguimientos" method="POST">
            <input type="hidden" name="seguimiento[foro]" value="{{foro.id}}">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="seguimiento[titulo]">Titulo</label>
                  <div class="controls">
                    <input class="input-xlarge" id="seguimientoTitulo" name="seguimiento[titulo]" size="30" type="text">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="seguimiento[descripcion]">Descripción del seguimiento</label>
                  <div class="controls">
                    <textarea class="input-xlarge" id="seguimientoContenido" name="seguimiento[contenido]" rows="5"></textarea>
                    <p class="help-block">
                      Sea claro en la formulación de su pregunta.
                    </p>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-input" for="seguimiento[localidad]">Seleccione la localidad</label>
                  <div class="controls">
                    <select class="input-xlarge" name="seguimiento[localidad]" id="seguimientoLocalidad">
                      <option>Antonio Nariño</option>
                      <option>Barrios Unidos</option>
                      <option>Bosa</option>
                      <option>Chapinero</option>
                      <option>Ciudad Bolívar</option>
                      <option>Engativá</option>
                      <option>Fontibón</option>
                      <option>Kennedy</option>
                      <option>La Candelaria</option>
                      <option>Los Mártires</option>
                      <option>Puente Aranda</option>
                      <option>Rafael Uribe Uribe</option>
                      <option>San Cristóbal</option>
                      <option>Santa Fe</option>
                      <option>Suba</option>
                      <option>Sumapaz</option>
                      <option>Teusaquillo</option>
                      <option>Tunjuelito</option>
                      <option>Usaquén</option>
                      <option>Usme</option>
                    </select>
                    <p class="help-block">
                    </p>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Guardar</button>
                  <button type="reset" data-dismiss="modal" class="btn" href="/"><i class="icon-remove"></i> Cancelar</button>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <p><small>Acepto los <a href="/tos" target=_blank>términos y condiciones</a> de uso.</small></p>
          </div>
        </div>
        {{/usuario}}

      </div>
    </div>

  </div>
</div>
