<div class="span9">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li>
          <a href="/foro/{{foro.id}}">{{foro.nombre}}</a>
          <span class="divider">/</span>
        </li>
        <li>
          <a href="/foro/{{foro.id}}/seguimientos">Seguimientos</a>
          <span class="divider">/</span>
        </li>
        <li class="active">
          <a href="/foro/{{foro.id}}/seguimiento/{{seguimiento.id}}">{{seguimiento.titulo}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <h1>Foro {{foro.nombre}} <small>{{foro.id}}</small></h1>
    </div>

    <div class="span4">
      <h2>Descripción</h2>
      <p>{{foro.descripcion}}</p>
      <ul class="thumbnails">
        <li><a href="#"><img class="thumbnail" src="http://placehold.it/90x90" alt=""></a></li>
      </ul>
      <a class="btn btn-primary btn-large" href="/foro/{{foro.id}}/seguimientos/{{seguimiento.id}}/preguntas/new">Formular nueva pregunta</a>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      {{seguimiento}}
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pregunta</th>
            <th>Fecha</th>
            <th>Favoritos</th>
            <th>Votos</th>
            <th>Localidad</th>
          </tr>
        </thead>
        <tbody>
          {{#seguimiento.preguntas}}
          <tr>
            <td><a href="/foro/{{foro.id}}/seguimiento/{{_id}}">{{titulo}}</a></td>
            <td>{{fecha}}</td>
            <td>{{favs}}</td>
            <td>{{votos}}</td>
            <td><span class="label">{{localidad}}</span></td>
          </tr>
          {{/seguimiento.preguntas}}
        </tbody>
      </table>
    </div>
  </div>

</div>
