<div class="span10">
  <div class="row-fluid">
    <div id="about" class="span9 box">
      <h2><span>Acerca de BogoTIC</span></h2> 
      <div class="box-inner">
        <h3>Abordaje de las TIC para la participación ciudadana y responsabilidad social tecnológica</h3>
        </br>
        <p style="text-align: justify;">Somos una iniciativa ciudadana respaldada por la <a href="http://www.fcbosque.org/" target=_blank>Fundación Casa del Bosque</a> que busca promover escenarios participativos para la reflexión, creación y veeduría cívica de los procesos sociales, culturales, industriales, científicos, jurídios y educativos distritales basados en las TIC.</p>
        <p style="text-align: justify;"><strong>Impulsamos</strong> la generación de escenarios ciudadanos enfocados en las problemáticas tecnológicas y sus impáctos jurídicos, culturales, financieros, industriales, fiscales e investigativos de cara a la ciudad.</p>
        <p style="text-align: justify;"><strong>Difundimos</strong> saberes digitales de la mano de expertos en diálogo con la ciudadanía, construyendo modelos participativos para el empoderamiento del saber tecnológico situado en las problemáticas de la ciudad.</p>
        <p style="text-align: justify;"><strong>Construimos</strong> tejidos socio-críticos y participativos con miras a la fundamentación de ciudadanías digitales propicias para el impulso de sociedades del conocimiento glocalizadas.</p>
        <p style="text-align: justify;">En <a href="http://www.bogotic.com" target=_blank>BogoTIC</a> generamos acciones orientadas a la creación de escenarios físicos desde los cuales se aborda la tecnología con perspectiva holística, para ello, convocamos la participación de la ciudadanía y expertos, todos, orientados a significar el papel trascendente de la tecnología buscando con ella dar solución a problemáticas sociales vitales tales como la migración, la corrupción en la administración pública, el detrimento del medio ambiente, la carencia de productividad, la violación de los derechos humanos, entre otros, como escenarios urgentes y de necesaria solución.</p>
      </div>
    </div>

    <div id="social-connect" class="span3 box">
      <h2><span>Conéctese</span></h2>
      <div class="box-inner">
        <a href="https://plus.google.com/108960713360575028011/posts" target=_blank><img src="/img/google-plus-new-32px.png" alt="Google+"></a>
        <a href="https://github.com/fcbosque/BogoTIC" target=_blank><img src="/img/github.png" alt="GitHub"></a>
        <a href="https://twitter.com/#!/fcbosque" target=_blank><img src="/img/twitter-2.png" alt="Twitter"></a>
        <a href="mailto:elproyectoagora@gmail.com"><img src="/img/email.png" alt="E-Mail"></a>
        <a href="http://bogotic.com/component/ninjarsssyndicator/?feed_id=1&format=raw"><img src="/img/rss.png" alt="RSS"></a>
      </div>
    </div>

  </div>
</div>
