<div class="span10">
  <div class="row-fluid">
    <div id="help" class="span9 box">
        <h2><span>Ayuda</span></h2>
      <div class="box-inner">
        <h3>¿Qué es BogoTIC?</h3>
        <p style="text-align: justify;"><a href="http://www.bogotic.com">BogoTIC</a> es una iniciativa ciudadana respaldada por la <a href="http://www.fcbosque.org/" _target=blank>Fundación Casa del Bosque</a> que busca promover escenarios participativos para la reflexión, creación y veeduría cívica de los procesos sociales, culturales, industriales, científicos, jurídicos y educativos distritales basados en las TIC.
        </p>
        <h3>¿Cómo es la dinámica de los foros?</h3>
        <p style="text-align: justify;"><a href="http://www.bogotic.com/" target=_blank>BogoTIC</a> funciona al rededor de la creación de <b>foros</b> situados en donde a partir de la participación y lo sucedido en su desarrollo, se crean una serie de <b>grupos de seguimiento</b> y procesos de veeduría despues de haber sido publicada la relatoría.</p>
        <p style="text-align: justify;">Los foros son <b>situados</b>, lo que significa que tienen una fecha y un lugar de desarrollo. Luego de que el evento haya terminado, se dar por cerrado el foro para que el seguimiento pueda comenzar, de esta forma se abren espacios para la creación de <b>grupos de seguimiento</b>, los cuales son los encargados de llevar un proceso de veeduría en relación a cualquier tema mencionado en el <b>foro</b>.</p>
        <p style="text-align: justify;">La <b>relatoría</b> es el texto que a manera de síntesis describe la interacción entre foristas, moderador/a y los asistentes del foro. En la cual se establecen los compromisos y responsabilidades de la administración distrital, las comunidades tecnológicas, Las organizaciones sociales y la ciudadanía frente a la implementación de políticas que vinculen las TIC's en sus componentes centrales. Se incluyen apartes de las intervenciones de los participantes del foro, acompañadas de una descripción detallada del contexto en el que se desarrolla.</p>
        <p style="text-align: justify;">La <b>relatoría</b> también permite a lxs ciudadanxs orientar las actividades de los grupos de seguimiento. Evaluar los compromisos y responsabilidades de cada uno de los actores sociales que participan en el foro.</p>
        <p style="text-align: justify;">Los <b>grupos de seguimiento</b> ejercerán control sobre cada uno de los compromisos y responsabilidades pactados en la <b>relatoría</b> en el ejercicio de la veeduría ciudadana entendida como <em>"el mecanismo democrático de representación que le permite a lxs ciudadanxs o a las diferentes organizaciones comunitarias, ejercer vigilancia sobre la gestión pública, respecto a las autoridades administrativas, políticas, judiciales, electorales, legislativas y órganos de control"</em>, que en materia de TIC's orienten las políticas a través de planes, programas y proyectos a nivel distrital.</p>
        <h3>¿Cómo puedo unirme al proyecto?</h3>
        <p style="text-align: justify;"><a href="http://www.bogotic.com" target=_blank>BogoTIC</a> es un proyecto desarrollado y mantenido principalmente y en su mayoría por la <a href="http://www.fcbosque.org/" target=_blank>Fundación Casa del Bosque</a>. Existen varias formas de unirte al proyecto pero para enterarte al respecto y comenzar el proceso, inscribete y realiza tu pregunta en la <a href="https://groups.google.com/forum/?fromgroups#!forum/bogotic" target=_blank>lista de correo</a>.
      </div>
    </div>

    <div id="reminder" class="span3 box">
      <h2><span>Recuerde</span></h2>
      <div class="box-inner">
        <p style="text-align: justify;"><a href="http://www.bogotic.com">Foros BogoTIC</a> es <b>software libre:</b> usted puede redistribuirlo y/o modificar bajo los términos de la Licencia Pública General de GNU según lo publicado por la Free Software Foundation, ya sea la versión 3 de la Licencia, o (a su elección) cualquier versión posterior.</p>
        <p>El código se encuentra hospedado en <a href="http://github.com/fcbosque/BogoTIC/">GitHub</a>.</p>
        <ul>
          <li>
            <iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=fcbosque&repo=BogoTIC&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="http://markdotto.github.com/github-buttons/github-btn.html?user=fcbosque&repo=BogoTIC&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
          </li>
        </ul>
        <p style="text-align: justify;">Para obtener más información sobre la licencia y demas actividades visite la <a href="http://fcbosque.org/wiki/" target=_blank>wiki</a> de la FCB.</p>
        <p>Si desea reportar algun mal funcionamiento del sitio puede crear un <a href="https://github.com/fcbosque/BogoTIC/issues/new" target=_blank>nuevo reporte</a>.</p>
      </div>
    </div>
    
  </div>
</div>

<style type="text/css">
.github-btn {
  height: 20px;
  overflow: hidden;
}
.gh-btn,
.gh-count,
.gh-ico {
  float: left;
}
.gh-btn,
.gh-count {
  padding: 2px 5px 2px 4px;
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.gh-btn {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
}
.gh-btn:hover,
.gh-btn:focus {
  color: #333;
  text-decoration: none;
  background-position: 0 -10px;
}
.gh-btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.15);
}
.gh-ico {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
  background: url(github-icons.png) no-repeat 0 0;
  opacity: .65;
}
.gh-btn:hover .gh-ico,
.gh-btn:focus .gh-ico {
  opacity: .75;
}
.gh-count {
  display: none; /* hidden to start */
  margin-left: 2px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.gh-count:hover,
.gh-count:focus {
  color: #333;
  background-color: #f5f5f5;
  border-color: #d5d5d5;
}
.github-btn-large {
  height: 30px;
}
.github-btn-large .gh-btn,
.github-btn-large .gh-count {
  padding: 3px 10px 3px 8px;
  font-size: 16px;
  line-height: 22px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.github-btn-large .gh-ico {
  width: 22px;
  height: 22px;
  background-position: 0 -20px;
}
.github-btn-large .gh-count {
  margin-left: 4px;
}
</style>
