<div class="span10">
  <div class="row-fluid">
    <div id="help" class="span9 box">
        <h2><span>Ayuda</span></h2>
      <div class="box-inner">
        <h3>¿Qué es BogoTIC?</h3>
        <h3>¿Cómo es la dinámica de los foros?</h3>
        <h3>¿Quién patrocina los foros?</h3>
        <h3>¿Cómo puedo unirme al proyecto?</h3>
      </div>
    </div>

    <div id="reminder" class="span3 box">
        <h2><span>Recuerde</span></h2>
      <div class="box-inner">
          <p><em>Foros BogoTIC es software libre:</em> usted puede redistribuirlo y/o modificar bajo los términos de la Licencia Pública General de GNU según lo publicado por la Free Software Foundation, ya sea la versión 3 de la Licencia, o (a su elección) cualquier versión posterior.</p>
        </br>
        <p> Para obtener más información sobre la Licencia, visite nuestra <a href="#">Wiki</a></p>
      </div>
    </div>
    
  </div>
</div>
