<div class="span10">
  <div class="hero-unit">
      <h1><span>Foros BogoTIC</span></h1>
    <p>Foros ciudadanos para el abordaje de las TIC en Bogotá como medio para el fortalecimiento de la participación ciudadana, la interdisciplinariedad y la responsabilidad social tecnológica.</p>
    <p><a href="/acerca" class="btn btn-primary btn-large" rel="popover" data-content="Participa activamente" data-original-title="Unete a la causa!">Conoce más »</a></p>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <h2>Bienvenido a los foros de BogoTIC</h2>
      <p style="text-align: justify;">La migración, la corrupción en la administración pública, el detrimento del medio ambiente, la carencia de productividad, la violación de los derechos humanos, entre otros, como escenarios urgentes y de necesaria solución.</p>
      <p>Para ello convidamos a la ciudadania en la participación de los foros para el impulso a la generación de escenarios ciudadanos enfocados en las problemáticas tecnológicas y sus impáctos jurídicos, culturales, financieros, industriales, fiscales e investigativos de cara a la ciudad.</p>
      <blockquote>
        <p>La transparencia y la veeduría ciudadana nos hace mejor sociedad.</p>
        <small>BogoTIC</small>
      </blockquote>
    </div>

    <div class="span6 box">
      <div class="box-inner">
        <h2><span>¿Desea participar?</span></h2>
        <form class="form-horizontal" action="/usuarios/login" method="POST">
          <div class="control-group">
            <label class="control-label" for="usuario[correo]">Correo Electr&oacute;nico</label>
            <div class="controls">
              <input type="text" class="input-xlarge" name="usuario[correo]" size="30">
            </div>
          </div>

          <div class="control-group">
            <label for="usuario[clave]" class="control-label">Contraseña</label>
            <div class="controls">
              <input type="password" class="input-xlarge" name="usuario[clave]" size="30">
            </div>
          </div>

          <!-- <div class="control-group">
            <div class="controls">
              <label class="checkbox" for="usuario[tos]">
                <input type="checkbox" id="tosCheckbox" value="usuario[tos]">
                  <span>He leído y he aceptado los <a href="/tos">términos de privacidad</a> de los foros.</span>
                </input>
              </label>
            </div>
          </div> -->

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
      </form>
      <a href="/usuarios/nuevo" class="btn btn-primary btn-large" >Crear cuenta nueva. »</a></p>
      </div>

    </div>
  </div>
</div>
