<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Foros BogoTIC</title>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="Foros públicos de participación ciudadana en TICs">
    <meta name="author" content="BogoTIC">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.responsive" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-144x144.png">
  </head>
  <body>
    <section id="navbar">{{> navbar}}</section>

    <div class="container-fluid">
      <div class="row-fluid">
        {{> sidebar }}
        {{{body}}}
      </div>
      <footer class="footer">
        {{> footer}}
      </footer>
    </div>

    <!-- Incluyo JQuery privisionalmente en esta vista, supongo que los scripts de manipulación 
    del DOM realizan con backbone --> 
    <script type="text/javascript" src="/js/libs/jquery/jquery-min.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap/bootstrap-carousel.js"></script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  </body>
</html>
